.header {
  align-items: center;
  background-color: rgba(191, 80, 0, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.page-title {
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
}

.profile-top-btn {
  left: 0.5rem;
  position: absolute;
}

.search-top-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0.5rem;
}
