.recipe-card {
  align-items: center;
  border: 0.1rem solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  width: 10rem;
}

.recipe-card-image {
  height: 100%;
  width: 100%;
}
