.category-filter-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0.5rem 0;
}

.category-filter {
  background-color: #ff6710;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #141414;
  cursor: pointer;
  font-size: 0.75rem;
  margin: 0.1rem;
  padding: 0.5rem 0;
  transition: all 0.3s;
  width: 6.5rem;
}

.recipes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
