.explore-recipes-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);

  /* 120px from header-footer-padding class */
  justify-content: space-around;
}

.explore-recipes-links > * {
  background-color: #f55a00;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  margin: 1rem;
  padding: 1.2rem 4rem;
  transition: all 0.1s;
  width: 20rem;
}

.explore-recipes-links > *:hover {
  opacity: 0.9;
}
