/* .recipe-details-card {
  align-items: center;
  border: 0.1rem solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  width: 10rem;
} */
