* {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* necessary to avoid elements overlap */
/* header/footer overlap */
.header-footer-padding {
  padding: 60px 0;
}

/* classes to set page background */
.main-background {
  background-image: url('./images/backgrounds/main.png');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.explore-background {
  background-image: url('./images/backgrounds/explore.png');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.explore-meals-background {
  background-image: url('./images/backgrounds/explore-meals.png');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.explore-drinks-background {
  background-image: url('./images/backgrounds/explore-drinks.png');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
