.not-found {
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  margin: 5rem 1rem;
  padding: 1rem;
}

.not-found a {
  color: #ff6710;
}

.not-found p, .not-found span {
  color: #141414;
  margin: 0.5rem 0;
}
